#cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.cardDiv{
    display: flex;
    flex-direction: column;
    width: 26%;
    margin: 1%;
    min-height: 30%;
    border: white 1px solid;
}

.cardTitle{
    padding: 1%;
    background-color: white;
    color: #00001a;
    margin: 0;
}

.publishedDate{
    padding: 1%;
    font-size: 80%;
}
.blogContent{
    padding: 1%;
}
.readMoreBtn{
    padding: 1%;
    background-color: white;
    color: #00001a;
    border: none;
}