#blogsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 5%;
}

.cardDiv{
    display: flex;
    flex-direction: column;
    margin: 2%;
    border: 1px solid white;
    width: 30%;

}

.cardDiv:hover{
    transform: translate3D(0,-1px,0) scale(1.05);
    background-color: #00A2FF;
}

.cardTitle{
    background-color: white;
    color: #00001a;
    margin: 0;
    padding: 1%;
}

.publishedDate{
    background-color: white;
    color: #00001a;
    margin: 0;
    font-size: 70%;
    padding: 1%;
}

.blogContent{
    padding: 1%;
    height: 35vh;
    overflow: hidden;
}

.readMoreBtn{
    border: none;
    background-color: white;
    color: #00001a;
    font-size: 70%;
    cursor: pointer;
    text-decoration: underline;
    padding: 2%;
    text-align: center;
}

.cardDiv h4, p{
    margin-top: 0;
}

.cardDiv p{
    margin-bottom: 0.5em;
}

.cardDiv h4{
    margin-bottom: 0.2em;
    font-style: italic;
}

.cardDiv span{
    margin-left: 2%;
}

.cardDiv {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

@media only screen and (max-width: 768px) {
    #blogsContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardDiv{
        width: 80%;
    }
    

}