#footer{
    height: auto;
    padding: 1%;
    margin-bottom: 0;
    text-align: center;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 70%;
    color: white;
    /* background-color:  orange; */

}

