#home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    padding-bottom: 10%;
}

#claudiaborghini{
    font-size: 600%;
    font-weight: 700;
    overflow-wrap: normal;
    text-align: center;
}

/* SLIDE IN FROM RIGHT  */
.text{
  font-family: monospace;
  font-size: 200%;
  font-weight: 500;
  animation: 3s slidein;
  text-align: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
}



@media only screen and (max-width: 768px) {
    #claudiaborghini{
        font-size: 300%;
    }
    .text{
        font-size: 100%;
        overflow: auto;
    }
}



