#home{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#claudiaborghini{

    font-size: 600%;
    font-weight: 700;
    overflow-wrap: normal;
    text-align: center;
}

/* SLIDE IN FROM RIGHT  */
.text{
  font-family: monospace;
  font-size: 200%;
  font-weight: 500;
  animation: 3s slidein;
  text-align: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
}



@media only screen and (max-width: 600px) {
    #claudiaborghini{
        font-size: 400%;
    }
    .text{
        font-size: 150%;
        overflow: auto;
    }
}



