.projContainer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    min-height: 100%;
    /* border: 1px red solid; */
}

.projtitle{
    text-align: center;
}

.projContent2{
    display: flex;
    flex-direction: column;
    /* border: 1px yellow solid; */
}

.projDescription3{
    margin-bottom: 3%;
}

.projFacts4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px green solid; */
}

.projTechnologies5{
    width: 70%;
}

.projLinks6{
    width: 30%;
}

.projLink{
    color: white;
}

@media only screen and (max-width: 768px) {
    .projContainer1{
        text-align: center;
    }
    .projContent2{
        text-align: center;
    }
    .projFacts4{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .projTechnologies5{
        width: 100%;
    }
    .projLinks6{
        margin-top: 5%;
        width: 100%;
    }
}