.projContainer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    min-height: 100%;
    margin-bottom: 5%;
    /* border: 1px red solid; */
}

.projtitle{
    text-align: center;
    color: #00A2FF;
}

.projContent2{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    /* border: 1px yellow solid; */
}

.projDescription3{
    margin-bottom: 3%;
    text-align: justify;
}

.projFacts4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px green solid; */
}

.projTechnologies5{
    width: 70%;
}
.projTechnologies5 p{
    margin-bottom: 0;
}

.projTechnologies5 h4{
    color: #00A2FF;
}

.projLinks6{
    width: 30%;
}

.projLinks6 h4{
    color: #00A2FF;
}

.projLinks6 p{
    margin-bottom: 0;
}

.projLink{
    color: white;
}

@media only screen and (max-width: 768px) {       /*ipad*/
    .projContainer1{
        text-align: center;
    }
    .projContent2{
        text-align: center;
    }
    .projFacts4{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .projTechnologies5{
        width: 100%;
    }
    .projLinks6{
        margin-top: 5%;
        width: 100%;
    }
}

@media only screen and (max-width: 620px){        /*iphone*/
    .projContainer1{
        text-align: center;
    }
    .projContent2{
        text-align: center;
    }
    .projFacts4{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .projTechnologies5{
        width: 100%;
    }
    .projLinks6{
        margin-top: 5%;
        width: 100%;
    }
    .projDescription3{
        margin-bottom: 3%;
        text-align: center;
    }
}