  #aboutDiv{
    display: flex;
  }

  #contentAboutDiv{
    flex-basis: 65%;
    text-align: justify;
    margin-right: 5%;
  }


  #claimgDiv{
    flex-basis: 30%;
    overflow: hidden;
    border-radius: 5%;
  }



  #claImg{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
  }