#claudiaborghiniTitle{
    margin-top: 25%;
    font-size: 80px;
    font-weight: 700;
}


.textP{
    font-family: monospace;
    font-size: 30px;
    font-weight: 500;
  }

  #socialIconsDiv{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }

  .iconsDivs{
    background-color: white;
    border-color: white;
    width:fit-content;
  }

  #gitImg{
      width: 30%;
  
  }