#claudiaborghiniTitle{
    margin-top: 20%;
    font-size: 80px;
    font-weight: 700;
    overflow:hidden;
}

/* SLIDE IN FROM RIGHT  */
.textP{
    font-family: monospace;
    font-size: 30px;
    font-weight: 500;
    animation: 3s slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/* TYPEWRITER OPTION 1 */
  /* .textP{
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
  }

  .anim-typewriter{
    animation: typewriter 8s steps(800) 1s 1 normal both,
               blinkTextCursor 8s steps(800) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  } */


  #socialIconsDiv{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }

  .fa-medium{
    color: white;
  }

  .fa-github{
    color: white;
  }

  .fa-linkedin {
    color: white;
  }

  .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
      cursor: pointer;
  }
  