.projectTitle{
    cursor: pointer;
}

.singleProjOuterDiv{
    display: flex;
    flex-direction: column;
}

.singleProjUpperDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.singleProjTitleDiv{
    flex-basis: 65%;
    text-align: justify;
    margin-right: 5%;
    /* flex-wrap: wrap; */
}

.singleProjImgDiv{
    flex-basis: 30%;
    overflow: hidden;
    border-radius: 2%;
    /* flex-wrap: wrap; */

    position: relative;
    width: 100%;
    max-width: 400px;
}

.singleProjImgDiv:hover .overlay {
    opacity: 1;
  }

  .singleProjImg{
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: white;
  }

.icon {
    color: red;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fa-youtube:hover {
    color: #00001a;
  }

  .fa-4x{
      font-size: 400%;
  }

  .projli{
      margin-bottom: 2%;
  }