html { 
    background: url('../images/lucy.JPG') no-repeat top center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #windowDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid blue;
  }

  #upperWindowContainerDiv{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      border: 3px solid green;
  }

  #windowClaItemDiv{
    margin-top: 3%;
    margin-left: 3%;
    border: 1px solid white
  }

  #windowMenuItemDiv{
    margin-top: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white
  }

  .menu-btn{
      margin: 40px;
      padding: 5px;
      border: none;
      border-radius: 5%;
      font-size: medium;
      font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  }

  .name{
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  }

  #displayDiv{
    border: 3px solid red;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  #footerDiv{
    border: 1px solid rgb(36, 36, 35);
    width: 100%; /* Full width (cover the whole div) */
    height: 100%; /* Full height (cover the whole div) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }