html { 
    background: url('../images/earth.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #windowContainerDiv{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  #windowClaItemDiv{
    margin-top: 3%;
    margin-left: 3%;
  }

  #windowMenuItemDiv{
    margin-top: 3%;
    margin-right: 3%;
  }