html { 
    background: url('../images/lucy.JPG') no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #windowContainerDiv{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
  }

  #windowClaItemDiv{
    margin-top: 3%;
    margin-left: 3%;
    /* border: 1px solid white */
  }

  #windowMenuItemDiv{
    margin-top: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid white */
  }

  .menu-btn{
      margin: 40px;
      padding: 5px;
      border: none;
      border-radius: 5%;
      font-size: medium;
      font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  }

  .name{
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  }